backports.functools-lru-cache==1.6.1
cheroot==8.4.5
CherryPy==17.4.2
click==7.1.2
contextlib2==0.6.0.post1
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==5.0.0
mysqlclient==1.4.6
numpy==1.16.6
pandas==0.24.2
Paste==3.4.6
PasteDeploy==2.1.0
PasteScript==3.2.0
portend==2.6
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.20.4
scipy==1.2.3
selectors2==2.0.2
six==1.15.0
sklearn==0.0
tempora==1.14.1
Werkzeug==1.0.1
zc.lockfile==2.0
