<!DOCTYPE html>
<html lang="en">
	    {% include 'header.html' %}
<body>
		

		<div id="site-content">
			    {% include 'header1.html' %}
			{% if session['ID'] == user_id | string %}
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="{{ url_for('main.index',user_id=user_id) }}">Home</a>
							<a href="#">Movie Review</a>
							<span>{{ u.Title }}</span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-6">
									<figure class="movie-poster"><img src={{u.Poster}} alt="#"></figure>
								</div>
								<div class="col-md-6">
									<h2 class="movie-title">{{ u.Title }}</h2>
									<ul class="starring">
										<li><strong>Plot:</strong> {{ u.Plot }}</li>
										<li><strong>Language:</strong> {{ u.Language }}</li>
										<li><strong>Country:</strong> {{ u.Country }}</li>
										<li><strong>BoxOffice:</strong> {{ u.BoxOffice }}</li>
										<li><strong>Production:</strong> {{ u.Production }}</li>
									</ul>
									<ul class="movie-meta">
										<li><strong>imdb Rating:</strong> 
											<div class="star-rating" title="{{ rate }} out of 5"><span style="width:{{ x }}%"><strong class="rating">{{ rate }}</strong> out of 5</span></div>
										</li>
										<li><strong>Length:</strong> {{ u.Runtime }}</li>
										<li><strong>Premiere:</strong> {{ u.Released }}</li>
										<li><strong>Category:</strong> {{ u.Genre }}</li>
									</ul>

									<ul class="starring">
										<li><strong>Directors:</strong> {{ u.Director }}</li>
										<li><strong>Writers:</strong> {{ u.Writer }}</li>
										<li><strong>Stars:</strong> {{ u.Actors }}</li>
									</ul>
								</div>
							 <!-- .row -->
					

							</div>


 {% if flag == 1 %}
   
 {% else %}
	<h3>Rate this movie</h3>						
<form action="" method="POST">
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

</fieldset>

    <input class="btn btn-success" type="submit" value="submit">
</form>
{% endif %}
						</div>
					<br>
						<div class="breadcrumbs">
							<br><br>
							<div class="movie-title"><a href="{{ url_for('main.item_ratings',user_id=user_id,movie_id=movie_id,name=u.Title) }}">Similar Items</a></div>
						</div>
						
						
					</div>
				</div> <!-- .container -->
			</main>
		    {% else %}
			<center><h1>Requested content is not available.</h1></center>
			<center><h1>Please Sign in/ Sign up with right credentials.</h1></center>
			{% endif %}
			{% include 'footer.html' %}

		</div>
		<!-- Default snippet for navigation -->
		


	    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		
	</body>

</html>